.btn {
  display: inline-flex;
  padding: 19px 44px;
  min-width: 230px;

  background-size: 250%;
  background-position: 100% 100%;
  color: $color-default-white;

  border: 4px solid $color-default-white;
  cursor: pointer;

  user-select: none;

  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  transition: all $trans-600;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    background-position: 0 0;
    background-image: linear-gradient(97.05deg, #003eb7 5.6%, #ed0233 40.31%, transparent 55%);
  }

  &--dark {
    padding: 26px 44px;
    min-width: 206px;
    border: none;
    color: $color-sapphire;
    box-shadow: 0 0 0 2px $color-sapphire inset;

    @include hover-focus {
      padding: 26px 44px;
      color: $color-default-white;
      box-shadow: none;
      background-position: 0 0;
      background-image: linear-gradient(97.05deg, #ed0233 5.6%, #003eb7 40.31%, transparent 55%);
    }
  }

  @include vp-1199 {
    padding: 20px 30px;
    min-width: 183px;

    &--dark {
      padding: 27px 45px;
    }
  }

  @include vp-767 {
    &--dark {
      padding: 27px 40px;
      min-width: 206px;
    }
  }
}
