.contacts {
  background: linear-gradient(90deg, $color-sapphire 50%, $color-default-white 50%);
  background-position: center;
  border-top: 1px solid $color-light-slates-grey;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-family: $ff-highlight;
    font-size: 54px;
    line-height: 84px;
    letter-spacing: 0.03em;
  }

  @include vp-1199 {
    background: initial;

    h3 {
      font-size: 42px;
      line-height: 50px;
    }
  }

  @include vp-767 {
    h3 {
      font-size: 32px;
      line-height: 38px;
    }
  }
}

.contacts__action {
  padding-top: 56px;
  padding-right: clamp(48px, 12.4vw, 170px);
  padding-left: 0;
  padding-bottom: 50px;
  color: $color-default-white;
  background-color: $color-sapphire;

  h3 {
    font-weight: 800;
  }

  @include vp-1199 {
    padding: 60px 163px 68px 133px;

    h3 {
      font-weight: 700;
      padding-bottom: 18px;
    }
  }

  @include vp-767 {
    padding: 63px 15px 70px;

    h3 {
      font-weight: 600;
    }
  }
}

.contacts__address {
  padding-top: 45px;
  padding-left: clamp(48px, 9vw, 120px);
  padding-bottom: 50px;
  padding-right: 0;

  h3 {
    padding-bottom: 12px;
    font-weight: 600;
  }

  @include vp-1199 {
    padding: 60px 163px 48px 133px;

    h3 {
      padding-bottom: 18px;
    }
  }

  @include vp-767 {
    padding: 63px 15px 56px;
  }
}

.contacts__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @include vp-1199 {
    gap: 30px 60px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

.contacts__form-btn {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: transparent;
  grid-column: 1/-1;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;

  @include vp-767 {
    margin-top: 24px;
  }
}

.contacts__address-info {
  display: grid;
  grid-template-columns: repeat(2, minmax(max-content, 170px));
  font-style: normal;

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.contacts__address-info-details {
  &:nth-of-type(odd) {
    padding-right: 65px;
    border-right: 1px solid $color-light-slates-grey;
  }

  &:nth-of-type(even) {
    padding-left: 60px;
  }

  dt {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
  }

  dd {
    margin-left: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }

  dd:not(:last-child) {
    padding-bottom: 18px;
  }

  a {
    transition: color $trans-default;

    @include hover-focus {
      color: $color-venetian-red;
    }
  }

  @include vp-1199 {
    &:nth-of-type(odd) {
      padding-right: 48px;
    }

    &:nth-of-type(even) {
      padding-left: 48px;
    }

    dt {
      font-size: 20px;
      line-height: 30px;
      padding-bottom: 5px;
    }

    dd {
      font-size: 18px;
      line-height: 27px;
    }
  }

  @include vp-767 {
    margin-bottom: 6px;
    padding-right: 0;
    border-right: none;

    &:nth-of-type(odd) {
      border-right: none;
      padding-right: 48px;
    }

    &:nth-of-type(even) {
      padding-left: 0;
    }

    dd:not(:last-child) {
      padding-bottom: 20px;
    }
  }
}
