.custom-input {
  position: relative;

  display: flex;
  flex-direction: column;
  flex: 1 1 190px;

  padding: 14px 0 28px;

  @media screen and (max-width: 767px) {
    padding: 4px 0 48px;
    width: 100%;
  }

  label {
    position: absolute;
    bottom: 30px;
    left: 0;
    display: flex;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    transition: bottom 0.3s ease;


    @media screen and (max-width: 767px) {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  &:focus-within label {
    bottom: 70px;
  }

  input {
    flex-grow: 1;
    max-width: 190px;
    min-height: 44px;
    padding: 20px;

    color: $color-default-white;
    border: 1px solid;
    border-color: transparent transparent $color-light-slates-grey transparent;
    background-color: transparent;
    outline: none;

    transition: all 0.3s ease;

    @media screen and (max-width: 767px) {
      max-width: unset;
      width: 100%;
    }

    &:hover {
      border-color: $color-light-slates-grey;
    }

    &:focus {
      background-color: rgba($color-light-slates-grey, 0.3);
      border-color: transparent;
    }
  }

  &__label {
    @media screen and (max-width: 767px) {
      margin: 0 0 18px 0;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border-color: transparent transparent $color-torch-red transparent;

      &:focus,
      &:hover {
        border-color: $color-light-slates-grey $color-light-slates-grey $color-torch-red $color-light-slates-grey;
      }
    }
  }

  &.is-valid {
    input {
      border-color: transparent transparent $color-light-slates-grey transparent;

      &:focus,
      &:hover {
        border-color: $color-light-slates-grey;
      }
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }

  @include vp-1199 {
    flex: 1 1 206px;
  }
}
