.intro {
  padding-top: 160px;
  padding-bottom: 48px;

  @include vp-1199 {
    padding-bottom: 183px;
    padding-top: 103px;
  }

  @include vp-767 {
    padding-top: 63px;
    padding-bottom: 70px;
  }
}

.intro__text {
  display: flex;
  padding-left: 60px;
  width: max(266px, min(31vw, 415px));
  flex-direction: column;

  h2 {
    margin: 0;
    padding-bottom: 8px;
    font-family: $ff-highlight;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.03em;
  }

  b {
    padding-bottom: 38px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
  }

  p {
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 8px;
  }

  @include vp-1199 {
    padding-left: 80px;
    padding-right: 80px;
    width: 100%;
    align-items: center;
    text-align: center;

    h2 {
      padding-right: 12px;
      padding-bottom: 0;
      font-size: 42px;
      line-height: 48px;
    }

    b {
      padding-bottom: 33px;
    }

    p:not(:first-of-type) {
      display: none;
    }
  }

  @include vp-767 {
    padding-left: 0;
    padding-right: 0;
    align-items: flex-start;
    text-align: left;

    h2 {
      font-size: 32px;
      line-height: 38px;
      padding-bottom: 3px;
    }

    b {
      padding-bottom: 26px;
    }
  }
}

.intro__media {
  position: relative;
  padding-top: 148px;

  @include vp-1199 {
    padding-top: 35px;
  }

  @include vp-767 {
    margin: 0 -15px;
    padding-top: 25px;
    width: calc(100% + 30px);
  }
}

.intro__image {
  margin-right: -103px;
  width: clamp(320px, 56vw, 765px);
  object-fit: contain;

  @include vp-1199 {
    margin-right: 0;
    width: 100%;
  }

  @include vp-767 {
    padding-bottom: 40px;
    width: 100vw;
  }
}

.intro__video-wrapper {
  position: absolute;
  width: max(266px, min(27vw, 364px));
  height: max(167px, min(17vw, 228px));
  left: -25%;
  bottom: 13%;
  background-repeat: no-repeat;
  background-image: image-set(
    url("../img/backgrounds/video.webp") 1x,
    url("../img/backgrounds/video@2x.webp") 2x,
    url("../img/backgrounds/video.jpg") 1x,
    url("../img/backgrounds/video@2x.jpg") 2x
  );
  background-size: cover;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color-sapphire, 0.5);
    z-index: 1;
  }

  @include vp-1199 {
    left: 30.4%;
    bottom: -22%;
    width: clamp(266px, 34vw, 364px);
    height: clamp(167px, 22vw, 228px);
  }

  @include vp-767 {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: max(167px, 52vw);
  }
}

.intro__video {
  visibility: collapse;
  width: 100%;
  height: 100%;
}

.intro__video-btn {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 34%;
  left: 40%;
  border-radius: 50%;
  background-image: linear-gradient(44.89deg, $color-dark-cerulean 25.38%, $color-venetian-red 74.89%);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 120% 120%;
  border: none;
  cursor: pointer;
  z-index: 2;
  transition: background-position $trans-600;

  &::before {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -20%;
    left: -20%;
    background-image: url("../img/svg/circle.svg");
    background-position: center;
    background-size: contain;
    content: "";
    z-index: 1;
  }

  @include hover-focus {
    background-position: 0 100%;

    &::before {
      background-repeat: no-repeat;
      animation: background 0.7s infinite ease-in-out;
    }

    & .intro__video-icon {
      width: 23px;
      height: 25px;
    }
  }

  @include vp-1199 {
    width: 52px;
    height: 52px;

    &::before {
      width: 72px;
      height: 72px;
    }
  }

  @include vp-767 {
    top: 35%;
    left: 42%;
  }
}

.intro__video-icon {
  padding-left: 4px;
  transition: width height $trans-600;

  @include vp-1199 {
    height: 12px;
    width: 12px;
  }
}

@keyframes background {
  from {
    opacity: 1;
    background-size: 72% 72%;
  }

  to {
    opacity: 0;
    background-size: 100% 100%;
  }
}
