.logo {
  color: $color-default-white;

  .footer & {
    padding-top: 15px;
  }

  @include vp-1199 {
    .footer & {
      padding-right: 20px;
      padding-top: 6px;
    }
  }
}

.logo__image {
  fill: currentcolor;

  @include vp-1199 {
    width: 80px;
    height: 17px;
  }

  @include vp-767 {
    width: 66px;
    height: 24px;
  }
}
