.people {
  padding-top: 106px;
  padding-bottom: 135px;

  h2 {
    padding-bottom: 48px;
    text-align: left;
  }

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 100px;

    h2 {
      padding-bottom: 30px;
      text-align: center;
    }
  }

  @include vp-767 {
    padding-top: 65px;
    padding-bottom: 70px;

    h2 {
      padding-bottom: 42px;
    }
  }
}

.people__list {
  display: grid;
  margin: 0 0 0 20px;
  padding: 0;
  grid-auto-flow: column;
  list-style: none;
  justify-content: center;

  .swiper--no-js & {
    margin: 0 auto;
    padding: 0 clamp(45px, 7.5vw, 103px);
    grid-auto-flow: row;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  img {
    width: 100%;
    object-fit: contain;
  }

  @include vp-1199 {
    margin-left: 15px;

    .swiper--no-js & {
      padding-left: 45px;
      padding-right: 45px;
      grid-template-columns: 34.9vw 34.9vw;
      gap: 30px;
    }
  }

  @include vp-767 {
    .swiper--no-js & {
      grid-template-columns: 70.6vw;
    }
  }
}

.people__card {
  @include vp-1199 {
    max-width: 35vw;
  }

  @include vp-767 {
    max-width: 70.6vw;
  }
}

.people__info {
  position: absolute;
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 53px 48px 22px;
  width: 100%;
  bottom: 0;
  left: 0;
  color: $color-default-white;
  background-color: transparent;
  justify-content: flex-end;
  transition: background-color $trans-default;

  h3 {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: $color-default-white;
    order: 3;
  }

  p {
    margin: 0;
    height: 0;
    visibility: collapse;
  }

  .people__card:hover &,
  .people__card:focus & {
    justify-content: flex-start;
    background-color: rgba($color-sapphire, 0.9);

    h3 {
      order: 1;
    }

    p {
      padding-bottom: 35px;
      font-weight: 400;
      font-size: 16px;
      line-height: 1;
      height: fit-content;
      visibility: visible;
      color: rgba($color-ghost-white, 0.8);
      text-align: center;
      order: 2;
    }
  }

  @include vp-767 {
    padding: 43px 30px 22px;
  }
}

.people__details-list {
  margin: 0;
  height: 0;
  visibility: collapse;
  overflow-y: auto;

  .people__card:hover &,
  .people__card:focus & {
    padding-left: 20px;
    height: fit-content;
    list-style: disc;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    visibility: visible;
    order: 3;
  }
}

.people__details-item {
  & + & {
    padding-top: 14px;
  }
}

.people .swiper:not(.swiper--no-js) {
  margin: 0 auto;
  padding: 0 63px;
  box-sizing: content-box;
  max-width: 1160px;

  @include vp-1199 {
    margin-left: 45px;
    margin-right: 45px;
    padding: 0 40px;
  }

  @include vp-767 {
    margin-left: 0;
    margin-right: 0;
    padding: 0 14.6vw;
  }
}
