.reviews {
  padding-top: 117px;
  padding-bottom: 121px;
}

.reviews__list {
  display: grid;
  margin: 0;
  padding-left: 0;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;

  .swiper--no-js & {
    padding: 0;
    gap: 30;
  }
}

.reviews__list-item {
  padding: 62px;
  max-width: 560px;
  background-color: $color-resolution-blue;
  color: $color-default-white;

  img {
    border-radius: 50%;
  }

  @include vp-1199 {
    max-width: 566px;
  }
}

.reviews .swiper:not(.swiper--no-js) {
  padding-left: 62px;
  padding-right: 62px;
  width: clamp(320px, 49.2vw, 680px);

  @include vp-1199 {
    padding-left: 56px;
    padding-right: 56px;
    width: clamp(320px, 90vw, 700px);
  }

  @include vp-767 {
    padding-left: clamp(32px, 10vw, 56px);
    padding-right: clamp(32px, 10vw, 56px);
    width: clamp(290px, 90.63vw, 700px);
  }
}

.reviews .swiper-button-prev,
.reviews .swiper-button-next {
  width: 64px;

  @include vp-1199 {
    width: 56px;
  }

  @include vp-1199 {
    width: clamp(34px, 11vw, 56px);
  }
}
