.subscriptions {
  padding-top: 120px;
  padding-bottom: 160px;
  background: $color-ghost-white;
  background-repeat: no-repeat;

  h2 {
    padding-right: 4px;
  }

  @include vp-1199 {
    padding-top: 101px;
    padding-bottom: 140px;

    h2 {
      padding-bottom: 3px;
      padding-right: 14px;
    }
  }

  @include vp-767 {
    padding-top: 64px;
    padding-bottom: 100px;
  }
}

.subscriptions__tabs-controls {
  display: flex;
  margin: 0 auto;
  width: fit-content;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 -4px 0 -2px rgba($color-light-slates-grey, 0.2) inset;
  gap: 46px;

  @include vp-1199 {
    gap: 54px;
  }

  @include vp-767 {
    gap: 20px;
    width: 100%;
    justify-content: space-between;
  }
}

.subscriptions__tabs-btn {
  padding: 18px 0 10px;
  background-color: transparent;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  border: none;
  box-shadow: none;
  opacity: 0.5;
  border-bottom: 2px solid transparent;
  user-select: none;
  transition: all $trans-default;

  &.is-active {
    opacity: 1;
    border-bottom: 2px solid $color-crimson;
  }

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 25px;
  }
}

.subscriptions__tabs-list {
  margin: 0;
  padding-top: 40px;
  padding-left: 0;
  list-style: none;

  @include vp-767 {
    padding-top: 30px;
  }
}

.subscriptions__tabs-item {
  width: 100%;
}

.subscriptions__tabs-content {
  display: grid;
  margin: 0;
  padding-left: 3px;
  padding-top: 7px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 48px;
  list-style: none;
  justify-items: center;

  @include vp-1199 {
    padding-top: 12px;
    grid-template-columns: 1fr;
    padding-left: 0;
    width: 57.6vw;
    justify-content: center;
    margin: 0 auto;
  }

  @include vp-767 {
    gap: 44px;
  }
}

.subscriptions__tabs-option {
  position: relative;
  padding: 54px 50px 65px;
  width: calc(100% - 7px);
  height: calc(100% - 7px);
  background-color: $color-default-white;
  text-align: center;

  &::before {
    position: absolute;
    display: flex;
    width: calc(100% + 14px);
    height: calc(100% + 14px);
    top: -7px;
    right: -7px;
    background: $color-default-white;
    background-size: 300%;
    background-repeat: no-repeat;
    background-position: 200%;
    content: "";
    z-index: -1;
    transition: background-position $trans-600;
  }

  p:first-of-type {
    margin: 0;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
  }

  p:nth-of-type(2) {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  p:nth-of-type(3) {
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 35px;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    word-spacing: -13px;
    text-align: center;
    color: $color-egyptian-blue;
  }

  b {
    position: absolute;
    left: 70px;
    bottom: 150px;
    font-weight: 700;
    font-size: 100px;
    line-height: 150px;
    color: rgba($color-light-slates-grey, 0.1);
    user-select: none;
  }

  @include hover-focus {
    &::before {
      background-position: 0;
      background-image: linear-gradient(125deg, #ed0233 6%, #003eb7 41%, transparent 80%);
    }
  }

  @include vp-1199 {
    padding-top: 56px;

    b {
      left: 115px;
      bottom: 152px;
    }
  }

  @include vp-767 {
    padding: 45px 40px 50px;

    p:first-of-type {
      font-size: 22px;
      line-height: 22px;
    }

    p:nth-of-type(3) {
      padding-top: 55px;
      padding-bottom: 30px;
      padding-left: 5px;
      font-size: clamp(48px, 15vw, 60px);
      line-height: 72px;
    }

    b {
      left: 60px;
      bottom: 135px;
      font-size: clamp(80px, 25vw, 100px);
      line-height: 120px;
    }
  }
}

.subscriptions__rouble {
  margin-left: 15px;

  @include vp-767 {
    width: 24px;
    height: 33px;
  }
}
