.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 clamp(45px, 7.5vw, 103px);

  @include vp-1199 {
    padding: 0 45px;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include vp-767 {
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: flex-start;
  }
}
